html {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
}
body {
  background: #111;
  /* overflow: hidden; */
}
a {
  color: #eb4034;
}
h1 {
  letter-spacing: 0.667px;
}
p {
  font-size: 1.2rem;
  line-height: 1.4;
}
hr {
  border: 0;
  height: 1px;
  background: #666;
  margin: 1rem 0;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.app {
  position: absolute;
  width: calc(100% - 400px);
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.menu {
  position: absolute;
  width: 400px;
  height: 100%;
  right: 0;
  top: 0;
  box-sizing: border-box;
  padding: 1rem;
  border-left: 1px solid #222;
  z-index: 1000;
  background: #111;
  overflow: hidden;
  overflow-y: auto;
}
.credits p {
  font-size: 0.9rem;
}
p.buttons {
  margin: 0;
}
.toggle-menu {
  position: absolute;
  transform: rotate3d(0, 0, 1, -90deg);
  transform-origin: 0 0;
  background: #eb4034;
  color: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.4rem;
  left: -40px;
  top: 180px;
  border: none;
  width: 180px;
  cursor: pointer;
  display: none;
}
.select-line {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  border-radius: 50%;
  margin: 3px 3px 0 0;
  font-weight: bold;
  border: 2px solid transparent;
  font-size: 1.3rem;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  outline: none;
}
.select-line:hover,
.select-line:focus {
  border-color: white;
}
.select-line.small-text {
  font-size: 0.9rem;
}
.select-line.invert-text {
  color: black;
}
.select-line.hidden {
  opacity: 0.2;
}
.select-line.selected {
  opacity: 1;
}
.instructions {
  position: relative;
}
.instructions p {
  color: #FCCC0A;
}
.drag-icon {
  position: absolute;
  width: 100px;
  height: 100px;
  left: -110px;
  top: 0;
  z-index: 100000;
  animation: shakeX 12s infinite;
  display: none;
}
.drag-icon.active {
  display: block;
}
.drag-icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.menu .description {
  max-height: 100vh;
  opacity: 1;
  transition: max-height 1s linear, opacity 1s linear;
  overflow: hidden;
}
.menu .line-on {
  display: none;
}
.menu.lines .line-on {
  display: block;
}
.menu.lines .line-off {
  display: none;
}
.menu.lines .description {
  max-height: 50px;
  opacity: 0;
}
.menu .deselect-lines-wrapper {
  width: 380px;
  background: #111;
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 1000;
  box-sizing: border-box;
  opacity: 0;
}
.menu .deselect-lines {
  background: #801e17;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 3px;
  margin: 0.5rem 1rem;
}
.menu.lines .deselect-lines-wrapper {
  animation: slideInDown 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}
.menu .deselect-lines:focus {
  outline: none;
  border-color: white;
}
@media (max-aspect-ratio: 4/3) {
  .app {
    width: 100%;
  }
  .menu {
    right: -400px;
    transition: right 0.5s ease-in-out;
  }
  .toggle-menu {
    display: block;
  }
  .menu.active {
    right: 0;
  }
}

.app canvas {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
body.active .app canvas {
  opacity: 1;
}
body.started .app canvas {
  cursor: move;
}

.loading {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
body.active .loading {
  opacity: 0;
  z-index: -1;
}
.loading div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #EE352E;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading div:nth-child(1) {
  left: 8px;
  animation: loading1 0.6s infinite;
}
.loading div:nth-child(2) {
  left: 8px;
  animation: loading2 0.6s infinite;
  background: #0039A6;
}
.loading div:nth-child(3) {
  left: 32px;
  animation: loading2 0.6s infinite;
  background: #FCCC0A;
}
.loading div:nth-child(4) {
  left: 56px;
  animation: loading3 0.6s infinite;
  background: #B933AD;
}
@keyframes loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.toggle-autorotation {
  border: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10000;
  display: block;
  padding: 0.5rem 1rem;
  background: #801e17;
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
body.started .toggle-autorotation {
  opacity: 1;
}
.hide-before-start {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
body.started .hide-before-start {
  opacity: 1;
}

.stations {
  opacity: 0;
  animation: fadeIn 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.stations li {
  margin: 0;
  padding: 0;
}
.stations li.station {
  border-top: 2px solid #444;
  padding: 1rem 0;
  box-sizing: border-box;
}
.stations li.borough {
  padding: 0.5rem 0 1rem;
  border-top: 2px solid #444;
}
.stations li.borough + li.borough {
  padding: 1rem 0 0.5rem;
  border-top: 2px dashed #333;
}
.stations button {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  color: white;
  font-weight: bold;
}
.stations button:hover {
  color: #FCCC0A;
}
.stations button:focus,
.station.selected button {
  border: 2px solid white;
  outline: 0;
  padding: 0.2rem 0.4rem;
}
.stations p {
  margin: 0;
}
.stations p {
  font-size: 1rem;
}
.stations p:first-child {
  margin-top: 0.5rem;
}
.stations .route {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: white;
  border-radius: 50%;
  margin: 0 0 0 6px;
  font-weight: bold;
  font-size: 0.9rem;
  box-sizing: border-box;
  padding: 0;
}
.stations .title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.stations .details {
  display: none;
}
.station.selected .details {
  display: block;
}

.station-info {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 80%;
  padding: 1rem;
  box-sizing: border-box;
  background: #111;
  border: 1px solid #333;
  display: none;
  z-index: 1000;
  opacity: 0;
}
.station-info.active {
  display: block;
  animation: fadeIn 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
}
.station-info h3 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
}
.station-info p {
  margin: 0;
}
.station-info p {
  font-size: 1.2rem;
}
.station-info p:first-child {
  margin-top: 0.5rem;
}
.station-info .route {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: white;
  border-radius: 50%;
  margin: 0 0 0 6px;
  font-weight: bold;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding: 0;
}
.station-info .title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.station-info small {
  font-style: italic;
}

@keyframes shakeX {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
