html {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
}
body {
  background: #111;
  /* overflow: hidden; */
}
a {
  color: #eb4034;
}
h1 {
  letter-spacing: 0.667px;
}
p {
  font-size: 1.2rem;
  line-height: 1.4;
}
hr {
  border: 0;
  height: 1px;
  background: #666;
  margin: 1rem 0;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.app {
  position: absolute;
  width: calc(100% - 400px);
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.menu {
  position: absolute;
  width: 400px;
  height: 100%;
  right: 0;
  top: 0;
  box-sizing: border-box;
  padding: 1rem;
  border-left: 1px solid #222;
  z-index: 1000;
  background: #111;
}
.credits p {
  font-size: 0.9rem;
}
.toggle-menu {
  position: absolute;
  transform: rotate3d(0, 0, 1, -90deg);
  transform-origin: 0 0;
  background: #eb4034;
  color: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.4rem;
  left: -40px;
  top: 180px;
  border: none;
  width: 180px;
  cursor: pointer;
  display: none;
}
.select-line {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  border-radius: 50%;
  margin: 5px 5px 0 0;
  font-weight: bold;
  border: 2px solid transparent;
  font-size: 1.3rem;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  outline: none;
}
.select-line:hover,
.select-line:focus {
  border-color: white;
}
.select-line.small-text {
  font-size: 0.9rem;
}
.select-line.invert-text {
  color: black;
}
.select-line.hidden {
  opacity: 0.2;
}
.select-line.selected {
  opacity: 1;
}
.instructions {
  color: #FCCC0A;
}
@media (max-aspect-ratio: 4/3) {
  .app {
    width: 100%;
  }
  .menu {
    right: -400px;
    transition: right 0.5s ease-in-out;
  }
  .toggle-menu {
    display: block;
  }
  .menu.active {
    right: 0;
  }
}

.app canvas {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.app.active canvas {
  opacity: 1;
}

.loading {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.app.active .loading {
  opacity: 0;
}
.loading div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #EE352E;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading div:nth-child(1) {
  left: 8px;
  animation: loading1 0.6s infinite;
}
.loading div:nth-child(2) {
  left: 8px;
  animation: loading2 0.6s infinite;
  background: #0039A6;
}
.loading div:nth-child(3) {
  left: 32px;
  animation: loading2 0.6s infinite;
  background: #FCCC0A;
}
.loading div:nth-child(4) {
  left: 56px;
  animation: loading3 0.6s infinite;
  background: #B933AD;
}
@keyframes loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.toggle-autorotation {
  border: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10000;
  display: block;
  padding: 0.5rem 1rem;
  background: #801e17;
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.app.started .toggle-autorotation {
  opacity: 1;
}
